# Unreal Engine (GitHub standard + project)
.vs/
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig
SourceArt/**/*.png
SourceArt/**/*.tga
Binaries/*
Plugins/**/Binaries/*
Build/*
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico
*_BuiltData.uasset
Saved/*
Intermediate/*
Plugins/**/Intermediate/*
DerivedDataCache/*

# Content: track only RTS + TopDown + Data (ignore rest to keep repo small)
Content/*
!Content/RTS/
!Content/TopDown/
!Content/Data/
